
<form class="container">
<div class="form-row my-5">
    <div class="col">
      <input type="text"  [(ngModel)]= "cliente.ragioneSociale" name="ragioneSociale" placeholder="Ragione Sociale...">
    </div>
    <div class="col">
      <input type="text" [(ngModel)]= "cliente.partitaIva" name="partitaIva"  placeholder="Partita Iva...">
    </div>
    <div class="col">
      <input type="text"  [(ngModel)]= "cliente.tipoCliente" name="tipoCliente"  placeholder="Tipo Cliente...">
      <select>
      <option>
        
      </option>
      </select>
    </div>
    <div class="col">
      <input type="email" [(ngModel)]= "cliente.email" name="email"placeholder="Email...">
    </div>
    <div class="col">
      <input type="email" [(ngModel)]= "cliente.pec" name="email"placeholder="Pec...">
    </div>
    <div class="col">
      <input type="email" [(ngModel)]= "cliente.telefono" name="email"placeholder="Telefono...">
    </div>
    <div class="col">
      <input type="email" [(ngModel)]= "cliente.nomeContatto" name="email"placeholder="Nome Contatto...">
    </div>
    <div class="col">
      <input type="email" [(ngModel)]= "cliente.cognomeContatto" name="email"placeholder="Cognome Contatto...">
    </div>
    <div class="col">
      <input type="email" [(ngModel)]= "cliente.telefonoContatto" name="email"placeholder="Telefono Contatto...">
    </div>
    <div class="col">
      <input type="email" [(ngModel)]= "cliente.emailContatto" name="email"placeholder="Email Contatto...">
    </div>
    <!---Indirizzo sede legale-->
    <div class="col">
      <input type="email" [(ngModel)]= "indirizzo.via" name="email"placeholder="Email Contatto...">
    </div>
    <div class="col">
      <input type="email" [(ngModel)]= "indirizzo.civico" name="email"placeholder="Email Contatto...">
    </div>
    <div class="col">
      <input type="email" [(ngModel)]= "indirizzo.cap" name="email"placeholder="Email Contatto...">
    </div>
    <div class="col">
      <input type="email" [(ngModel)]= "indirizzo.localita" name="email"placeholder="Email Contatto...">
    </div>
    <select> 
      <option>
        
      </option>
    </select>

    <div class="col">
      <button class="bg-dark text-white my-1"  (click)="add()"><i class="bi bi-person-plus"></i></button>
    </div>
  </div>
</form>
