<div class="card text-white my-4 mb-3 container" style="max-width: 30rem;">
    <div class="card-body">
      <h5 class="card-title">Dettagli</h5>
      <ul>
        <li>{{cliente.pec}}</li>
        <li>{{cliente.telefono}}</li>
        <li>{{cliente.nomeContatto}}</li>
        <li>{{cliente.cognomeContatto}}</li>
        <li>{{cliente.emailContatto}}</li>
        <li>{{cliente.dataInserimento}}</li>
        <li>{{cliente.dataUltimoContatto}}</li>
        <li>{{cliente.fatturatoAnnuale}}</li>
        <li></li>
      </ul>
      <h5>Indirizzo sede legale</h5>
      <hr>
      <ul>
      <li>{{indirizzo.via}}</li>
      <li>{{indirizzo.civico}}</li>
      <li>{{indirizzo.cap}}</li>
      <li>{{indirizzo.localita}}</li>
     </ul>
      <h5>Indirizzo sede operativa</h5>
      <hr>
      <ul>
      <li>{{indirizzo.via}}</li>
      <li>{{indirizzo.civico}}</li>
      <li>{{indirizzo.cap}}</li>
      <li>{{indirizzo.localita}}</li>
    </ul>
    </div>
