<div class="card text-white my-4 mb-3 container" style="max-width: 30rem;">
    <div class="card-body">
      <h5 class="card-title">Indirizzo sede legale</h5>
      <ul>
        <li>{{cliente.pec}}</li>
        <li>{{cliente.telefono}}</li>
        <li>{{cliente.nomeContatto}}</li>
        <li>{{cliente.cognomeContatto}}</li>
        <li>{{cliente.emailContatto}}</li>
        <li>{{cliente.dataInserimento}}</li>
        <li>{{cliente.dataUltimoContatto}}</li>
        <li>{{cliente.fatturatoAnnuale}}</li>
        <li></li>
      </ul>
    </div>
